#shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .shop-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        max-width: 2000px;

        .top-meniu {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            padding-top: 20px;
            // border-bottom: 10px solid #E0144C;
            height: 100px;
            background-color: #9A1663;

            &__left {
                padding-left: 20px;
            }
        }
        .bar {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            background-color: #E0144C;
            .sort {
                background-color: white;
                margin: 20px;
                padding: 25px;
                border: 3px solid white;
                border-radius: 5px;
                select {
                    outline: none;
                }
                span {
                    margin-right: 6px;
                    color: #FF5858;
                }
                .range {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    i {
                        margin-right: 15px;
                        width: 80px;
                    }
                    b {
                        padding: 0 4px;
                    }
                    .max{
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .products {
            width: 100%;
            background-color: #E0144C;
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            padding: 20px 30px;
            min-height: calc(100vh - 100px);
        }

        .product {
            padding: 15px;

            &__bin {
                width: 400px;
                background-color: white;
                height: 350px;
                border: 3px solid white;
                border-radius: 5px;
                padding: 20px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: column;
                &__top {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        h2 {
                            color: #FF5858;
                        }
                }
                &__mid {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    &__img {
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            height: auto;
                            width: 100%;
                            max-height: 200px;
                            display: block;
                        }
                    }
                    &__desc {
                        width: 50%;
                        max-height: 200px;
                        overflow: hidden;
                        p {
                            text-align: justify;
                            font-size: 11px;
                            padding-left: 7px;
                        }
                    }
                }
                &__bottom {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    span {
                        font-size: 28px;
                        color: #9A1663;
                    }
                    button {
                        border: 3px solid;
                        outline: none;
                        background-color: #FF97C1;
                        color: white;
                        font-size: 28px;
                        letter-spacing: 1px;
                        border-radius: 5px;
                        transition: all 0.3s;
                        &:hover {
                            color: #FF97C1;
                            background-color: white;
                            border: 3px solid #FF97C1;
                        }
                    }
                    input {
                        font-size: 28px;
                        letter-spacing: 1px;
                        border-radius: 5px;
                        width: 60px;
                        text-align: center;
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}